/* Feuille de style CSS */

body {

	background-color: black;

}

/* Bordure de la tv */
.tv_image {

	/*
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);  
	*/

	position: fixed;

	height: 100%;
	width: 100%;

	background-position: 50% 50%, center;
	
	background-image: url("tv.png");
	background-repeat: no-repeat;

}

/* Interieur de la television */
.tv_block { 

			top: 50%;
			left: 50%;
			position: fixed;
			transform: translate(-50%, -50%); /* Margin de 50% automatique */

			margin-left: 10px;
			margin-top: -10px;

			background-color: black;

			height: 550px;
			width: 780px;

			/* border: solid; */
			border-color: white;
			border-width: 2px;

			/* Pour que les trucs restent à l'interieur */
			
			overflow: hidden;
			white-space: nowrap;
	
}
